config/config.php
logs/*.log
logs/security/*.log
logs/security/*.json
*.bat
test/aifadian
test/mysql
*.log
safe_test/*.php
safe_test/*.md
md_files/*.md
md_files/*.png
md_files/aifadian.md
md_files/DeepSeek_API.md
test/eypa
API.md
test/ai
bugs.md
server_mermory.txt
test_api.html
test_data.php
.workbuddy/


